@page
@model razorApp.Pages.ViewCourse
@{
    ViewData["Title"] = "ViewCourse";
}

<h1>Kurs</h1>

<div class= table-wrapper>
    <article>
    <div><b>Id:</b> @Model.CourseModel.Id</div>
    <div><b>Title:</b> @Model.CourseModel.Title</div>
    <div><b>Längd:</b> @Model.CourseModel.Length</div>
    <div><b>Kategori:</b> @Model.CourseModel.Category</div>
    <div><b>Beskrivning:</b> @Model.CourseModel.Description</div>
    <div><b>Detaljer:</b> @Model.CourseModel.Details</div>
  
    <a asp-page="./Gallery"><i class="fa-solid fa-left-long"></i>Tillbaka till alla kurser</a>
  </section>
</article>
</div>
